body {
    display: flex;
    flex-direction: column;
}

body #main {
    flex: 1;
}

.logo {
    background: white;
    padding: 30px;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 200px;
}

.logo img {
    width: 150px;
}

.hero .columns {
    align-items: center;
}
